.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: .4s all;
}

.backdrop-visible {
    opacity: 1;
    background: rgba(255,255,255,.7);
}